body {
	background-color: rgb(211, 225, 235);
}

/* Page Title */
h1 {
	font-weight: bold;
	color: rgba(255, 244, 79, 0.8);
	font-family: Trebuchet MS;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

/* Projects Title */
h2 {
	font-weight: bold;
	color: #00008b;
	font-family: Trebuchet MS;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

/* Page Description */
p {
	margin: 0px;
	padding: 0px;
}

/* Projects Description */
p2 {
	margin: 0px;
	padding: 0px;
}

#Projects {
  background-color:  #fff8dc;
  border: 8px solid#fff700;
  border-radius: 15% 10%;
  padding: 3%;
  margin: 2%;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {box-shadow: 4px 4px 4px #ff3503;}
}
