html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}


body {
    margin: 0%;
}

.TotalBackground {
    height: 100%;
    background: linear-gradient(80deg, rgb(33, 124, 126) 30%, rgb(226, 226, 226) 80%);
}

/* Navigation Bar Features */
.navbar {
    background: linear-gradient(150deg, #dd1f13 10%, #04a9ee 90%);
    box-shadow: 0px -10px 5px 12px #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 0px;
    margin: 0% 5%;
    display: inline-block;
    position: relative;
    opacity: 100%;
}
.nav-link:hover {
  	color: #ffffff;
    opacity: 70%;
}
.nav-link::before {
    transition: 500ms;
    height: 5%;
    content: "";
    position: absolute;
    background-color: #ffffff;
}
.nav-link-fade-up::before {
    width: 100%;
    bottom: 20%;
    opacity: 0%;
}
.nav-link-fade-up:hover::before {
    bottom: 35%;
    opacity: 100%;
}
.navbar-collapse {
    justify-content: flex-end;
}

/* Project Images */
.soloprojectimg {
    border: 5px inset#000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.groupprojectimg {
    border: 2px inset#000000;
    margin: 0% 1%;
}

/* Icon Images */
.iconimg {
    width: 50px;
}
.iconimg:hover {
    opacity: 60%;
    animation: bounce infinite 0.8s;
}
@keyframes bounce {
    0%{padding-left: 10px; padding-right: 0;}
    50%{padding-left: 0; padding-right: 10px;}
    100%{padding-left: 10px; padding-right: 0;}
}
/* Social Media Icons? */
.socialbuttons {
    padding-top: 20px;
}
/* Club Icons */
.clubimg {
    width: 50px;
}

/* Show Images Side By Side */
.column {
    text-align: center;
}

/* Show Boxes Side By Side */
.boxcolumn {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    color: #ff7f50;
}

.Title {
	border-radius: 50px;
    border-style: solid;
    border-color: #fff700;
	padding: 6% 0%;
	margin: 0% 6%;
    animation: glowring 6s infinite;
}
@keyframes glowring {
    0% {border-color: #fff700; border-radius: 50px;}
    50% {border-color: #83181b; border-radius: 0px;}
}

/* Introduction Heading */
.Title h1 {
    font-size: 50px;
	font-weight: bold;
	color: #aa6b39;
	font-family: Trebuchet MS;
	text-align: center;
	margin: 0%;
	padding: 2%;
    animation: changecolor infinite 6s;
}
@keyframes changecolor {
    0%{color: #aa6b39}
    50%{color: #fff700}
    100%{color: #aa6b39}
}

/* Introduction Text */
.Title p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
	margin: 0% 10%;
	padding: 0% 10%;
   	color: #000000;
    text-align: center;
}

/* Section Heading */
.Body h1 {
    font-size: 50px;
	font-weight: bold;
	color: #1fb25f;
	font-family: Trebuchet MS;
	text-align: center;
	margin: 5px;
	padding: 0%;
}

.Body h1:hover {
    animation: textglow 6s infinite;
}
@keyframes textglow {
    50% {text-shadow: 2px 2px 2px #6600cc;}
}

/* Section Text */
.Body p1 {
    display: block;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111909;
    text-align: center;
    padding: 0% 10%;
}

/* Projects Heading */
.Body h2 {
    font-size: 40px;
    font-weight: bolder;
	color: #000000;
	font-family: Trebuchet MS;
	text-align: center;
}
/* Projects Text */
.Body p2 {
    font-size: 17px;
    display: block;
    color: #000000;
	font-family: Georgia;
    line-height: 20px;
}
/* Projects Box */
#ProjectBox {
	background-color: #eeefee;
	border: 8px double#ffffff;
	border-radius: 10px;
	padding: 3%;
	margin: 2%;
	animation: boxshimmer 3s;
}
@keyframes boxshimmer {
    0% {box-shadow: 4px 4px 4px #5a79a5}
	100% {box-shadow: 0px 0px 0px #5a79a5}
}

/* Projects Slide Show */
.mySlides {
  display: none;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 15px;
  margin-top: -22px;
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  transition: 1s ease;
  border-radius: 0px 3px 3px 0px;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #f2ffff;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #000000;
}
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Images Show */
.myImages {
  display: none;
}
/* Slideshow container */
.imageshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.iprev, .inext {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  transition: 1s ease;
  border-radius: 0px 1px 1px 0px;
  user-select: none;
}
/* Position the "next button" to the right */
.inext {
  right: 0;
  border-radius: 1px 0 0 1px;
}
/* On hover, add a black background color with a little bit see-through */
.iprev:hover {
    opacity: 60%;
    animation: bounce2 infinite 0.8s;
}
.inext:hover {
    opacity: 60%;
    animation: bounce3 infinite 0.8s;
}
@keyframes bounce2 {
    0%{padding-left: 0px; padding-right: 0;}
    50%{padding-left: 15px; padding-right: 0px;}
    100%{padding-left: 0px; padding-right: 0;}
}
@keyframes bounce3 {
    0%{padding-left: 0px; padding-right: 0;}
    50%{padding-left: 0; padding-right: 15px;}
    100%{padding-left: 0px; padding-right: 0;}
}
.active {
  background-color: #f2ffff;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Clubs Heading */
.Body h3 {
    font-size: 40px;
    font-weight: bolder;
	color: #ffffff;
	font-family: Trebuchet MS;
	text-align: center;
	margin: 0px;
	padding: 10px;
}
/* Clubs Text */
.Body p3 {
    font-size: 17px;
    display: block;
    color: #ffffff;
	font-family: Georgia;
    line-height: 20px;
    margin: 15px;
}
/* Club Boxes */
#ClubCOGS {
    background-color: #b4042c;
    border: 10px double#ffffff;
    border-radius: 6px;
    width: 47%;
    display: inline-block;
    padding: 4% 0%;
	margin: 2% 0%;
}
#ClubBlueprint {
    background-color: #44abfb;
    border: 10px double#ffffff;
    border-radius: 6px;
    width: 47%;
    display: inline-block;
    padding: 4% 0%;
	margin: 2% 0%;
}

/* Hobbies Boxes */
#HobbyPlant {
    background-color: #4fa64f;
    border: 10px double#ffffff;
    border-radius: 6px;
    width: 30%;
    display: inline-block;
    padding: 4% 0%;
	margin: 2% 0%;
}
#HobbyGame {
    background-color: #e6b95f;
    border: 10px double#ffffff;
    border-radius: 6px;
    width: 30%;
    display: inline-block;
    padding: 4% 0%;
	margin: 2% 0%;
}
#HobbyBook {
    background-color: #c38452;
    border: 10px double#ffffff;
    border-radius: 6px;
    width: 30%;
    display: inline-block;
    padding: 4% 0%;
	margin: 2% 0%;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 560px) {
  .prev, .next {font-size: 11px}
  .nav-link {font-size: 8px}
  .Body p2 {font-size: 12px}
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: #ffffff;
   text-align: center;
}

/* On smaller screens, put club boxes on different rows */
@media only screen and (max-width: 800px) {
    #ClubCOGS {
        width: 90%;
        margin: 2px 0%;
        padding: 2% 0%;
    }
    #ClubBlueprint {
        width: 90%;
        margin: 2px 0%;
        padding: 2% 0%;
    }
}

/* On smaller screens, put hobby boxes on different rows */
@media only screen and (max-width: 1000px) {
    #HobbyPlant {
        width: 90%;
        margin: 2px 0%;
        padding: 2% 0%;
    }
    #HobbyGame {
        width: 90%;
        margin: 2px 0%;
        padding: 2% 0%;
    }
    #HobbyBook {
        width: 90%;
        margin: 2px 0%;
        padding: 2% 0%;
    }
}